.Om_h1{
    text-align: center;
    margin-left: -50%;
    margin-top: 5%;
    font-size: 44px;
    font-weight: bold;

}

.Om_text{
    text-align:center;
    margin-left: -50%;
    margin-top: 3%;
}

.Om_holder {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20em;
    top: 25px;

}

#big_icon{
    height: 100%;
    width: 50%;
    float: right;
    margin-top: 55px;
    margin-right: 50px;
}


.Om_text_holder {
    word-wrap: break-word;
    position: absolute;
    left: 16%;
    top: 10%;
    width: 25%;
}

.Om_h1{
    font-size: 44px;
    letter-spacing: 1px;
}

.Om_text {
    letter-spacing: 1px;
    font-size: 18px;

}


.Team_container {
    display: block;
    margin-top: 20%;
    text-align: center;
}

.Team_image {
    width: 20%;
    height: 20%;
    object-fit: contain;
    display: inline-block;
    margin: 20px;
    background: #E9C46A;
    color: black;
    padding: 15px;
    transition: transform 0.3s;
    border-radius: 10px;
    text-align: center;
}

.Team_image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 40%;
}

.Team_image:hover{
    transform: scale(1.05);
}


.Team_image h1 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.Team_image p {
    font-size: 16px;
}



