#icon{
    height: 2.8em;
    padding: 0.5em;
    display: inline-flex;
}

body{
    background: #2A9D8F;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.header{
    width: 100%;
    height: 10%;
    background: #F4A261;
}

.header_text{
    display: inline;
    padding: 0 0 0 2em;
    bottom: 1.3em;
    position: relative;
    color: black;
    text-underline: none;
}

.header_h1{
    display: inline;
    font-size: 2em;
    position: relative;
    left: 20%;
    bottom: 0.5em;
    color:black;
    font-family:'Roboto';
    text-shadow: white 2px 2px 4px ;
}

.header_button{
    float:right;
    margin: 1.5em 1em 0 0;
    padding: 0.3em 1em 0.3em 1em;
    bottom: 1.5em;
    left: 45%;
    background: #ACCBE3;
    border:0.3px black solid;
    border-radius: 7px;
}

.header_button:hover{
    scale: calc(1.2);
    box-shadow: 0 0 6px white;
}

.footer{
    width: 100%;
    height: 20%;
    background: #F4A261;
    margin-top: 10%;

}
.footer_text{
    width: 20%;
    height: 20%;
    margin-left: 11%;
    display: inline-grid;
    text-align: center;
}

.footer_text_holder{
    text-align: left;
}

.footer_image_holder{
    width: 15%;
    display: inline-block;

}

.footer_image_holder:hover{
    scale: calc(1.2);
    box-shadow: 0 0 6px white;

}

#madspild_img{
    height: 100%;
    width: 70%;
    float: right;
}

.image_holder{
    background: #E9C46A;
    position: relative;
    text-align: center;
    width: 100%;
    height: 20em;
    top:10px;
}

.image_text_holder{
    position: absolute;
    top:15%;
    left: 5%;
    width: 20%;
    height: 50%;
    word-wrap: break-word
}

.light{
    display: inline;
    position: relative;
    text-shadow: 0 0 14px white;
}
.news_holder{
    text-align: center;
    margin-top: 5%;
}

.news_image{
    width: 20%;
    height: 20%;
    object-fit: contain;
    display: inline-block;
    margin: 2% 0 0 5%;
    background: #E9C46A;
    color: black;
    border-radius: 10px;
}

.news_image:hover{
    scale: calc(1.2);
    box-shadow: 0 0 10px 4px wheat;
}

